
# Node
node_modules/
dist/
.cache/
.tmp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sass Cache
.sass-cache/

# Logs
logs
*.log

# Other
.env
